{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false,
        "targets": {
          "browsers": ["last 1 major version"]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/syntax-dynamic-import"
  ]
}
